function InputUtil.init 0
push constant 1
pop static 0
push constant 1
pop static 1
push constant 0
return
function InputUtil.eraseMessage 1
push static 0
push static 1
call Output.moveCursor 2
pop temp 0
push constant 56
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 0
push local 0
call Output.printString 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push constant 0
return
function InputUtil.showMessage 0
call InputUtil.eraseMessage 0
pop temp 0
push static 0
push static 1
call Output.moveCursor 2
pop temp 0
push argument 0
call Output.printString 1
pop temp 0
push argument 0
call String.dispose 1
pop temp 0
push constant 0
return
function InputUtil.readInt 1
call InputUtil.eraseMessage 0
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push static 0
push static 1
call Output.moveCursor 2
pop temp 0
push argument 0
call Output.printString 1
pop temp 0
call Keyboard.readChar 0
pop local 0
push local 0
push constant 48
gt
push local 0
and
push constant 58
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
call String.dispose 1
pop temp 0
push local 0
push constant 48
sub
return
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function InputUtil.readInput3 2
call InputUtil.eraseMessage 0
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push static 0
push static 1
call Output.moveCursor 2
pop temp 0
push argument 0
call Output.printString 1
pop temp 0
call Keyboard.readChar 0
pop local 0
push local 0
push constant 47
gt
push local 0
push constant 58
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
call String.dispose 1
pop temp 0
push local 0
push constant 48
sub
return
label IF_FALSE0
push local 0
push constant 85
eq
push local 0
push constant 117
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
call String.dispose 1
pop temp 0
push constant 1
neg
return
label IF_FALSE1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function InputUtil.readInput4 2
call InputUtil.eraseMessage 0
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push static 0
push static 1
call Output.moveCursor 2
pop temp 0
push argument 0
call Output.printString 1
pop temp 0
call Keyboard.readChar 0
pop local 0
push local 0
push constant 47
gt
push local 0
push constant 58
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
call String.dispose 1
pop temp 0
push local 0
push constant 48
sub
return
label IF_FALSE0
push local 0
push constant 64
gt
push local 0
push constant 72
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
call String.dispose 1
pop temp 0
push local 0
push constant 55
sub
return
label IF_FALSE1
push local 0
push constant 85
eq
push local 0
push constant 117
eq
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 0
call String.dispose 1
pop temp 0
push constant 1
neg
return
label IF_FALSE2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function InputUtil.readInput5 2
call InputUtil.eraseMessage 0
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push static 0
push static 1
call Output.moveCursor 2
pop temp 0
push argument 0
call Output.printString 1
pop temp 0
call Keyboard.readChar 0
pop local 0
push local 0
push constant 47
gt
push local 0
push constant 58
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
call String.dispose 1
pop temp 0
push local 0
push constant 48
sub
return
label IF_FALSE0
push local 0
push constant 64
gt
push local 0
push constant 81
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
call String.dispose 1
pop temp 0
push local 0
push constant 55
sub
return
label IF_FALSE1
push local 0
push constant 85
eq
push local 0
push constant 117
eq
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 0
call String.dispose 1
pop temp 0
push constant 1
neg
return
label IF_FALSE2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function InputUtil.waitForZeroOrOne 2
call InputUtil.eraseMessage 0
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push static 0
push static 1
call Output.moveCursor 2
pop temp 0
push argument 0
call Output.printString 1
pop temp 0
call Keyboard.readChar 0
pop local 0
push local 0
push constant 47
gt
push local 0
push constant 50
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
call String.dispose 1
pop temp 0
push local 0
push constant 48
sub
return
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
